<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Monphotographe.com{% endblock %}</title>
        
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
        
        <link href="{{asset ('/assets/styles/card.css')}}" rel="stylesheet">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="./assets/styles/app.css ">
        
        {% endblock %}
    </head>
    <body>
        <nav>
	    <div class="nav-wrapper">
	    	<div class="container">
	    		<a href="{{ path('app_home') }}" class="brand-logo">Monphotographe.com</a>
			      	<ul id="nav-mobile" class="right hide-on-med-and-down">
			        <li><a href="{{ path('app_home') }}"><strong>Home</strong></a></li>
			        
					
						<li><a href="/logout"><strong>Deconnexion</strong></a></li>
                        {% if app.user %}
                        <li><a href="{{ path('app_photographe_edit', {'id': app.user.id}) }}">User</a></li>
                        {% endif %}
                        
                        
					
						<li><a href="/login"><strong>Connexion</strong></a></li>
			        
		      	</ul>
	    	</div>
	    </div>
  	</nav>
        

        {% block javascripts %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script type="text/javascript">$('select').formSelect();</script>
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
